colorama==0.4.4
flake8==3.9.0
flake8-html==0.4.1
importlib-metadata==3.7.3
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.0
Pygments==2.8.1
rope==0.18.0
tinydb==4.4.0
zipp==3.4.1
